<script>
    (function () {
        var $view = $('.' + '{$grid_class}');

        $view.on('blur', '.js-sort', function () {
            var $tr = $(this).closest('tr'), id = $tr.data('id'), vthis = this,
                val = parseInt($(this).data('val') || 0) || 0,
                sort = parseInt($(this).val().trim() || 0) || 0;
            if (val == sort) return;
            $.post('{:U("Goods/sortBrand")}?id=' + id, { sort: sort }, function (rs) {
                rs.code && $(vthis).data('val', sort) && $view.gridReloadData();
            }, 'json');
        });

    })();
</script>