<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/static/css/comm/kb.min.css?v={:C('config.version')}"/>
    <link rel="stylesheet" href="/static/css/base.css?v={:C('config.version')}"/>
</head>
<body>
    <div class="p15">
        <div>
            <div class="fb">第一步：登录小程序后台</div>
            <div class="mt5">
                小程序后台登录网址：<a class="cl-38f" href="https://mp.weixin.qq.com" target="_blank">https://mp.weixin.qq.com</a>
            </div>
            <div>
                <br/>
            </div>
            <div class="fb">第二步：停止授权，看图1</div>
            <div class="tc mt10">
                <img src="/static/images/webview/8369254269719.png"/>
            </div>
            <div class="tc">（图1 停止授权）</div>
            <div>
                <br/>
            </div>
            <div class="fb">第二步：配置业务域名，看图2~图4</div>
            <div class="tc mt10">
                <img src="/static/images/webview/8369255449879.jpg"/>
            </div>
            <div class="tc">（图2 进入开发设置界面）</div>
            <div class="tc mt10">
                <img src="/static/images/webview/8369255403097.jpg"/>
            </div>
            <div class="tc">（图3 开始配置业务域名）</div>
            <div class="tc mt10">
                <img src="/static/images/webview/8369244581165.jpg"/>
            </div>
            <div class="tc">（图4 校对业务域名）</div>
        </div>
    </div>
</body>
</html>
