<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Language" content="zh-cn"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <title>{:C('config.title')} - {:C('config.powered')}</title>
    <link rel="stylesheet" href="/setup/css/install.css?v={:C('config.version')}"/>
    <script src="/plugins/jquery/jquery-3.2.1/jquery-3.2.1.min.js"></script>
</head>
<body>
    <div class="wrap">
        <div class="header"> 欢迎使用 RRZCMS！</div>
        <section class="section">{:$body}</section>
        <div class="footer">
            <p style="font-weight: bold;"> Powered by <a href="http://www.rrzcms.com" target="_blank" style="color: #2B81BA;">RRZCMS</a></p>
        </div>
    </div>
</body>
</html>