<div class="layui-card">
    <div class="layui-card-header">站点设置</div>
    <div class="layui-card-body">
        <div class="layui-tab">
            <ul class="layui-tab-title">
                <li class="layui-this">网站设置</li>
                <li>核心设置</li>
                <li>附件设置</li>
                <li>站点信息</li>
                <li>敏感词过滤</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    {include file="site/config/website" /}
                </div>
                <div class="layui-tab-item">
                    {include file="site/config/admin" /}
                </div>
                <div class="layui-tab-item">
                    {include file="site/config/attachment" /}
                </div>
                <div class="layui-tab-item">
                    {include file="site/config/webinfo" /}
                </div>
                <div class="layui-tab-item">
                    {include file="site/config/webfilter" /}
                </div>
            </div>
        </div>
    </div>
</div>