<div class="layui-card">
    <div class="layui-card-header">
        <a class="cl-38f" target="page" href="{:U('Seo/links')}">友情链接</a> / {$row?'编辑':'添加'}友情链接
    </div>
    <div class="layui-card-body">
        <form class="layui-form p15" method="post" action="{:U('Seo/addLink')}?id={$row.id??''}">
            <table>
                <tr>
                    <th width="100"><em>*</em>网站名称</th>
                    <td>
                        <input name="title" value="{$row.title??''}" lay-verify="required" placeholder="请输入网站名称" autocomplete="off" class="layui-input" maxlength="100" autofocus size="30"/>
                    </td>
                </tr>
                <tr>
                    <th><em>*</em>网址URL</th>
                    <td>
                        <input name="url" value="{$row.url??''}"  placeholder="http://" lay-verify="required" autocomplete="off" class="layui-input" maxlength="200"/>
                    </td>
                </tr>
                <tr>
                    <th>网址Logo</th>
                    <td>
                        {imgspace name="logo" value="$row.logo??''" title="网址Logo" watermark='false' /}
                    </td>
                </tr>
                <tr>
                    <th>排序</th>
                    <td>
                        <input name="sort" value="{$row.sort??'100'}" placeholder="排序" autocomplete="off" class="layui-input w100" maxlength="8"/>
                        <span class="cl-999 f12">越小越靠前</span>
                    </td>
                </tr>
                <tr>
                    <th>站长Email</th>
                    <td>
                        <input name="email" value="{$row.email??''}" placeholder="站长Email" autocomplete="off" class="layui-input" maxlength="20"/>
                    </td>
                </tr>
                <tr>
                    <th valign="top">网站备注</th>
                    <td>
                        <textarea name="intro" placeholder="请输入内容" class="layui-textarea">{$row.intro??''}</textarea>
                    </td>
                </tr>
                <tr>
                    <th>新窗口打开</th>
                    <td>
                        <input type="checkbox" name="target" lay-skin="switch" lay-text="是|否" value="1" {if !isset($row['target'])||$row['target']}checked{/if} unvalue="0"/>
                    </td>
                </tr>
            </table>
            <div class="mt30 pl100 pb30">
                <button type="submit" class="layui-btn layui-btn-normal w100" lay-submit>确认提交</button>
            </div>
        </form>
    </div>
</div>
